:root {
  /* colors */
  --color-royalblue: #1954ed;
  --color-lightblue: #f3f6fe;
  --color-midblue: #b9cbfa;
  --color-darkblue: #082caf;
  --color-teal: #28d1b4;
  --color-lightgray: #e2e2e2;
  --color-darkgray: #707070;
  --color-charcoal: #262626;

  --color-navyblue: #16436f;
  --color-lightpurple: #b889a0;
  --color-sand: #e2e3cf;
  --titillium-font: "Titillium Web", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: var(--color-royalblue); */
  /* position: relative; */

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overflow: hidden; */
}

h1 {
  font-family: "Titillium Web", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.width {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;

  color: white;
}

/* button */
button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #57cc99;
  background: #57cc99;
  font-family: var(--titillium-font);
  font-size: 1.25rem;
}

button:hover {
  background: #fff;
  color: #57cc99;
}

.title {
  text-align: center;
  font-family: var(--titillium-font);
  color: var(--color-royalblue);
  font-weight: normal;
  font-size: 2rem;
  margin: 0.7em;
}

/*header*/

header {
  position: relative;
  display: block;
  height: 60vh;
  min-height: 500px;
  background-color: var(--color-royalblue);
  z-index: 1;
  overflow-y: visible;
}

header::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 60%;
  transform-origin: left;
  left: 0px;
  bottom: -100px;
  background: var(--color-royalblue);
  transform: skewY(-3deg);
  z-index: -1;
}

.navigation {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  padding: 1.5em 0;
}

nav {
  display: flex;
}

nav li {
  list-style: none;
  padding: 0.5em 1em;
  font-family: var(--titillium-font);
}

nav a {
  text-decoration: none;

  color: white;
  font-size: 1.25rem;
}

.nav_li-ctcbtn {
  display: none;
}

.nav-toggle {
  display: none;
}

/* hero section */

.hero {
  color: white;
  position: relative;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90%;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.hero_paddingdiv {
  display: none;
}

.hero_test {
  max-height: 650px;
  /* max-height: 80%; */
  background: url("/images/ePDBanner_1.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: right center;
  border-radius: 100%;
  box-shadow: 10px 5px 5px var(--color-teal);
  /* margin-bottom: 5em; */
  aspect-ratio: 1/1;
  align-self: top;
}

.hero__text {
  padding-bottom: 4em;
}

.hero__title {
  font-size: 4rem;
  margin-bottom: 0.5em;
  line-height: 100%;
}

.hero__paragraph {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

/* Client section */
.clients {
  margin: 7em 1em 1em 3em;
  min-height: 30vh;
  background: white;
}

.clients__header {
}
.clients__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client__logo {
  display: block;
  max-width: 150px;
  max-height: 90px;
  object-fit: contain;
}

.client__logo--ff {
  filter: invert();
}

/* AboutUs */

.aboutUs {
  background: var(--color-teal);
}

.aboutUs__content {
  width: 75%;
  padding: 4em 0;
  font-size: x-large;
  margin: 0 auto;
}

.aboutUs__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(300px - 6rem), 1fr));
  gap: 4em;
  place-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.aboutUs__img {
  background: url("./images/deposit1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  /* margin-left: 3em; */
  /* justify-self: center; */
  height: 400px;
  box-shadow: #1954ed;
  position: relative;
}

.aboutUs__img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #082caf;
  top: 7%;
  left: 10%;

  z-index: -1;
}

.aboutUs__img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #eff0f4;
  bottom: 7%;
  right: 10%;
  z-index: -2;
}

.aboutUs__text {
  font-weight: lighter;
}

/* Services */

.services__section {
  background: var(--color-lightgray);
}

.services__section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding-bottom: 5em;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2em;
}

.services__intro {
  margin-bottom: 3em;
  font-weight: normal;
  max-width: 500px;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.service {
  /* padding: 1em; */
  text-align: center;
}

.services__icon {
  font-size: 2rem;
  font-weight: 100;
  color: #1abc9c;
  position: relative;
}

.services__description {
  display: grid;
  place-items: center;
  padding: 0.5rem calc(6rem - 2rem);
  font-weight: 100;
  font-size: 0.95rem;
  max-width: 400px;
}

.service--button {
  align-self: center;
}

/*footer section*/

footer {
  position: relative;
  z-index: 1;
  background: var(--color-royalblue);
  color: white;
}

footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background-color: pink;
  transform: skewY(-3deg);
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: left;
  z-index: -1;
  background: var(--color-royalblue);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding-bottom: 2em;
}

.footer__column {
  justify-self: center;
}

.footer__links {
  display: flex;
  gap: 2em;
}

.footer__links > li {
  list-style: none;
}

.footer__cta {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}

.footer__logo {
  justify-self: start;
}

.footer__text {
  font-size: 14px;
}

.footer__btn {
  border: 0;
  color: white;
  background: var(--navy);
  padding: 0.3em 3em;
}

.footer__contact2 {
  justify-self: end;
}

.footer__contact {
  font-weight: 800;
}

/* copyright banner */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35em;
  font-size: small;
  margin: 0.25em;
  /* background-color: white; */
}

@media (max-width: 800px) {
  header {
    height: 30vh;

    min-height: 500px;
  }

  header::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 40%;
    transform-origin: left;
    left: 0px;
    bottom: -50px;
    background: var(--color-royalblue);
    transform: skewY(-3deg);
    z-index: -20001;
  }

  .hero {
    /* position: relative; */
    z-index: -199;
  }

  .hero__content {
    display: block;
    /* max-height: 50%; */
  }

  .hero_paddingdiv {
    display: block;
    padding-bottom: 200px;
  }

  .hero_test {
    width: 70%;
    /* max-height: 70%; */
    /* clip-path: circle(50% at 50% 50%); */

    position: absolute;
    /* width: 70%; */

    aspect-ratio: 1/1;
    /* height: 200px; */

    top: calc(140% / 2);
    margin-top: calc((35% / 2) * -1);

    left: calc(70% / 2);
    margin-left: calc((35% / 2) * -1);

    /* justify-content: center; */
    /* z-index: 111; */
    /* margin: -2em auto; */

    /* margin-bottom: 4em; */
    z-index: 13300;
  }

  header {
    height: 70vh;
  }

  .navigation {
    justify-content: space-between;
  }

  /* hero section */

  .nav_li-ctcbtn {
    display: block;
  }

  .hero__content {
    flex-direction: column;
    gap: 1em;
    padding: 0;
  }

  .hero__title {
    font-size: 2.75rem;
  }

  .hero__paragraph {
    font-size: 1rem;
  }

  /* navigation */

  .nav-toggle {
    display: inline-block;
    cursor: pointer;
    font-size: 1.75rem;

    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 1.5rem;
  }

  .navbar {
    display: none;
    position: absolute;
    top: 5.6em;
    left: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--color-royalblue);
    z-index: 1000;
    height: 40%;
  }

  .active {
    display: block;
  }

  .dsktopbtn {
    display: none;
  }

  .services {
    grid-template-columns: 1fr;
  }

  .clients {
    margin-top: 10em;
    margin-bottom: 10em;
  }
  .clients__container {
    flex-direction: column;
    gap: 2em;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 2em;
    margin: 0;
  }

  .footer__column {
    justify-self: center;
    padding: 1em 2em;
    text-align: center;
  }

  .footer__logo {
    justify-self: center;
    margin-left: 2em;
  }

  .footer__links {
    display: block;
    margin: 0;
    padding: 0;
  }
}
